body.login-page {
    background: url("/public/images/atletix-bg.png") no-repeat center center
        fixed;
    background-size: cover;
}

.login-box {
    margin-top: 5%;
}

.login-card-body {
    border-radius: 15px;
}
